{% extends "blog/base.html" %}

{% block content %}
  <div class="jumbotron" >
    <h2>Please Login:</h2>
    <h3>Must be a SuperUser,please check admin if any issues</h3>
    {% if form.error %}
      <h4>sorry!!!! Your UserName and Password didn't match,please try again.</h4>
    {% endif %}
      <form  action="{% url 'login' %}" method="post">
        {% csrf_token %}
       {{form.as_p}}
        <input type="submit" class="btn-outline-primary" value="Login">
        <input type="hidden" name="next" value="{{ next }}">
      </form>

  </div>
{% endblock %}
